html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(243, 229, 233);
	font-size: 2rem;
}
@mixin center($width:0,$height:0,$important:null){
	position: absolute;
	left: 50% $important;
	top: 50% $important;
	margin-left: -1*($width/2) $important;
	margin-top: -1*($height/2) $important;
}
.ImgMap>*{
	width: 300px;
	height: 400px;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	border:#fff 5px solid;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,.5);
	position: absolute;
	cursor: pointer;
	transition: 1s, box-shadow .3s;

	&:hover{
		box-shadow: 0px 0px 6px 3px rgba(0,0,0,.2);
	}
	
	// 居中
	@include center(300px,400px);
	transform: rotate3d(0,0,1,0);
}
.enlarge{
	top: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	height: 100% !important;
	border: 0 !important;
	transition: .3s !important;
}
.tip{
	$w:10rem;
	$h:3rem;
	width: $w;
	height: $h;
	border-radius: 15px;
	color: #fff;
	text-align: center;
	line-height: $h;
	z-index: 100;
	background-color: rgba(0,0,0,.7);
	font-size: 1.2rem;
	@include center($w,$h);
	animation: fadeOut 2s 2s;
	@keyframes fadeOut
	{
		0%{opacity: 1}
		100%{opacity: 0}
	}
}